[core]
  editor = nvim
  pager = delta

[user]
  name = Yanguk
  email = yanguk.heo@knowre.com

[pull]
  ff = only

[push]
  default = current
  autoSetupRemote = true

[interactive]
  diffFilter = delta --color-only

[delta]
  side-by-side = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
  conflictstyle = zdiff3

[diff]
  colorMoved = default
  algorithm = histogram

[branch]
	sort = committerdate
