simple-update-notifier
wireshark
iterm2
ghc
gh
fish
plugin
.DS_Store
yarn
node_modules
coc
lazygit/state.yml
ngrok
github-copilot
tmux/plugins
alacritty/themes
.gitconfig

zed/*
!zed/keymap.json
!zed/settings.json

# nvim
lazy-lock.json
.back

zig-macos-aarch64-0.14.0-dev.2340+182cdf74b
